Package: net.codetips.zhihuplugin
Name: ZhiHuPlugin
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Remove ADs!
Maintainer: Loveletter
Author: Loveletter
Section: Tweaks
Version: 0.0.1-2+debug
Installed-Size: 120
